body {
  font-family: "Roboto", Verdana, sans-serif;
}

.form__left-subtitle, .booking__title, .virtual-tour__title, .logo, .title {
  font-family: "Forum", Verdana, sans-serif;
}

.form__close, .booking-form, .booking, .header__navigation, .social__link, .ticket-btn, .player-button, .player__play_size_big::after, .player__play_size_big, .virtual-tour__title::after, .video__slider-position, .slider__button-item, .image__slider-position, .navigation-button:before, .navigation-button:after, .button, .navigation__link {
  transition: all 0.4s ease-out;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: #000000;
}

.container {
  max-width: 1920px;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  padding: 75px 0;
}
@media (max-width: 1024px) {
  .section {
    padding: 60px 0;
  }
}
@media (max-width: 768px) {
  .section {
    padding: 40px 0;
  }
}

.wrapper_theme_dark {
  color: #FFFFFF;
  background-color: #030303;
}

.wrapper_theme_light {
  background-color: #FFFFFF;
}

.title {
  margin: 0 0 75px;
  font-style: normal;
  font-weight: 400;
  font-size: 8rem;
  line-height: 9rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .title {
    margin: 0 0 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    line-height: 7.5rem;
  }
}
@media (max-width: 768px) {
  .title {
    margin: 0 0 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 6rem;
  }
}
@media (max-width: 420px) {
  .title {
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 4rem;
  }
}

.title_theme_on-dark {
  color: #FFFFFF;
}

.title_theme_on-light {
  color: #9D8665;
}

.title__border_true {
  padding-bottom: 25px;
  border-bottom: 3px solid #710707;
}
@media (max-width: 1024px) {
  .title__border_true {
    padding-bottom: 20px;
  }
}

.title-h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.3rem;
}

.text {
  margin: 0;
  line-height: 3.8rem;
}
@media (max-width: 1024px) {
  .text {
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.8rem;
  }
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  padding: 0;
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*&:after {
  	content: '';
  	display: block;
  	width: 29%;
  }*/
}
.layout-3-column > * {
  flex-basis: 29%;
}

.layout-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-column > * {
  flex-basis: auto;
}

.logo {
  display: flex;
  width: 200px;
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.1rem;
  color: #FFFFFF;
  letter-spacing: 5px;
  text-transform: uppercase;
}
@media (max-width: 420px) {
  .logo {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}

.logo__image {
  display: inline-block;
  width: 49px;
  height: 26px;
  margin-right: 25px;
  background-image: url("../img/icons/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 420px) {
  .logo__image {
    width: 29px;
    height: 16px;
    margin-right: 20px;
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 55px;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .navigation {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .navigation__item:last-child .navigation__link {
    padding: 0;
  }
}

.navigation__link {
  display: block;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.navigation__link:hover {
  color: #9D8665;
}
@media (max-width: 1024px) {
  .navigation__link {
    width: 122px;
    padding: 12.5px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.3rem;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-image: url("../img/icons/arrow.svg");
  }
  .navigation__link:hover {
    filter: invert(53%) sepia(43%) saturate(267%) hue-rotate(356deg) brightness(93%) contrast(91%);
  }
}
@media (max-width: 768px) {
  .navigation__link {
    padding: 0 0 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.3rem;
    background-position: 100% 6px;
  }
}

.button {
  border: none;
  color: #FFFFFF;
}
.button:hover {
  background-color: #9D8665;
}

.button-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button_type_basic {
  background-color: #710707;
}

.button_type_dark {
  background-color: #000000;
}

.navigation-button {
  display: none;
  position: relative;
  width: 32px;
  height: 18px;
  cursor: pointer;
}
.navigation-button:before, .navigation-button:after {
  content: "";
  position: absolute;
  left: 0;
  width: 32px;
  height: 2px;
  background-color: #FFFFFF;
}
.navigation-button:before {
  top: 0;
}
.navigation-button:after {
  bottom: 0;
}

.navigation-button__strip {
  position: absolute;
  left: 0;
  top: 50%;
  width: 32px;
  height: 2px;
  background-color: #FFFFFF;
  transform: translateY(-50%);
}

.navigation-button_theme_closed::before {
  transform: rotate(45deg) translate(6px, 5px);
}
.navigation-button_theme_closed::after {
  transform: rotate(-45deg) translate(6px, -5px);
}

.navigation-button__strip_disabled {
  display: none;
}

@media (max-width: 1024px) {
  .navigation-button {
    display: block;
  }
}
.slider__image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .slider__image {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .slider__image_hidden {
    display: none;
  }
}

.slider__image-inner {
  position: relative;
  max-width: calc(100vw - 480px);
}
.slider__image-inner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}
@media (max-width: 768px) {
  .slider__image-inner:after {
    background-image: none;
  }
}
@media (max-width: 1024px) {
  .slider__image-inner {
    max-width: calc(100vw - 324px);
  }
}
@media (max-width: 768px) {
  .slider__image-inner {
    max-width: 100%;
    margin: 0 0 30px;
  }
}

.slider__image-item {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.slider__control {
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  bottom: -60px;
  width: 600px;
  height: 120px;
  padding: 0 74px;
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 4rem;
  color: #FFFFFF;
  background-color: #030303;
}
@media (max-width: 1024px) {
  .slider__control {
    justify-content: flex-end;
    width: 100%;
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .slider__control {
    position: static;
    justify-content: space-between;
    max-width: 401px;
    height: auto;
    padding: 0;
  }
}
@media (max-width: 420px) {
  .slider__control {
    justify-content: center;
    font-size: 1.6rem;
  }
}

.number__slider_wrap {
  max-width: 76px;
}

.number__slider_active {
  margin-right: 10px;
}
@media (max-width: 420px) {
  .number__slider_active {
    margin-right: 5px;
  }
}

.number__sliders_total {
  margin-left: 10px;
}
@media (max-width: 420px) {
  .number__sliders_total {
    margin-left: 5px;
  }
}

.slider__map {
  display: inline-flex;
  justify-content: center;
}

.image__slider-position {
  width: 16px;
  height: 16px;
  margin-right: 25px;
  background-color: #FFFFFF;
  border: none;
}
.image__slider-position:last-child {
  margin-right: 0;
}
.image__slider-position_active {
  background-color: #D2B183;
}
.image__slider-position:hover {
  background-color: #9D8665;
}
@media (max-width: 1024px) {
  .image__slider-position {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 420px) {
  .image__slider-position {
    width: 7px;
    height: 7px;
    margin-right: 10px;
  }
}

.slider__buttons {
  display: inline-flex;
  justify-content: flex-end;
  max-width: 80px;
}

.image__slider-direction {
  width: 30px;
  height: 8px;
}
@media (max-width: 420px) {
  .image__slider-direction {
    width: 20px;
  }
}

.slider__button-item {
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.slider__button_left {
  margin-right: 20px;
  background-image: url("../img/icons/left.svg");
}
.slider__button_left:hover {
  background-image: url("../img/icons/left_hover.svg");
}
@media (max-width: 420px) {
  .slider__button_left {
    margin-right: 15px;
  }
}

.slider__button_right {
  background-image: url("../img/icons/right.svg");
}
.slider__button_right:hover {
  background-image: url("../img/icons/right_hover.svg");
}
@media (max-width: 420px) {
  .slider__button_right {
    background-position: right;
  }
}

.slider-comparison {
  position: relative;
}

.slider-comparison__control {
  position: absolute;
  top: 0;
  left: 60%;
  width: 39px;
  height: 100%;
  background-image: url("../img/icons/explore_slider.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.player_size_small {
  max-width: 452px;
}

.video__slider-column {
  margin-bottom: 40px;
}

.video__slider-control {
  width: 100%;
  column-gap: 20px;
}

.video__slider-direction {
  width: 10px;
  height: 12px;
}
.video__slider-direction:hover {
  filter: invert(14%) sepia(66%) saturate(2636%) hue-rotate(341deg) brightness(50%) contrast(115%);
}

.slider_left {
  background-image: url("../img/icons/player/left_video.svg");
}

.slider_right {
  background-image: url("../img/icons/player/right_video.svg");
}

.video__slider-position {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: #999999;
}
.video__slider-position_active {
  background-color: #333333;
}
.video__slider-position:hover {
  background-color: #710707;
}

.virtual-tour__inner {
  width: calc(33.3% - 39.5px);
}
@media (max-width: 1024px) {
  .virtual-tour__inner {
    width: calc(50% - 162px);
  }
}
@media (max-width: 768px) {
  .virtual-tour__inner {
    width: calc(50% - 84px);
  }
}
@media (max-width: 420px) {
  .virtual-tour__inner {
    width: calc(100% - 100px);
  }
}

.virtual-tour__link {
  display: flex;
  flex-direction: column;
  color: #000000;
  margin: 0 0 75px;
}
.virtual-tour__link:hover .virtual-tour__title::after {
  width: 0;
}
@media (max-width: 1024px) {
  .virtual-tour__link {
    margin: 0 0 60px;
  }
}
@media (max-width: 768px) {
  .virtual-tour__link {
    margin: 0 0 40px;
  }
}

.virtual-tour__image {
  width: 100%;
  height: auto;
  order: -1;
}

.virtual-tour__title {
  position: relative;
  padding: 25px 0 10px;
  margin: 0 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: auto;
}
.virtual-tour__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 140px);
  height: 2px;
  background-color: #710707;
}
@media (max-width: 1024px) {
  .virtual-tour__title {
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 3.1rem;
  }
}
@media (max-width: 768px) {
  .virtual-tour__title {
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 2.4rem;
    letter-spacing: 3px;
  }
}
@media (max-width: 420px) {
  .virtual-tour__title {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2rem;
    letter-spacing: 5px;
  }
}

.virtual-tour__overview {
  margin: 0 0 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.6rem;
}
@media (max-width: 1024px) {
  .virtual-tour__overview {
    font-style: normal;
    font-weight: 100;
    font-size: 2rem;
    line-height: 2.3rem;
  }
}
@media (max-width: 768px) {
  .virtual-tour__overview {
    font-style: normal;
    font-weight: 100;
    font-size: 1.8rem;
    line-height: 2.1rem;
  }
}
@media (max-width: 420px) {
  .virtual-tour__overview {
    font-style: normal;
    font-weight: 100;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}

.virtual-tour__street {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.1rem;
}
@media (max-width: 1024px) {
  .virtual-tour__street {
    font-style: normal;
    font-weight: 100;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}

.player-wrapper {
  position: relative;
  margin-bottom: 40px;
}

.player-inner {
  position: relative;
  width: 100%;
  padding-top: 45.14%;
  overflow: hidden;
  cursor: pointer;
}
.player-inner:hover .player__play_size_big {
  border-color: #989898;
}
.player-inner:hover .player__play_size_big::after {
  border-left-color: #989898;
}

.player-link {
  position: absolute;
  top: 0;
  height: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../video/poster0.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.player-link_hidden {
  display: none;
}

.player-poster {
  width: 100%;
  vertical-align: middle;
}

.player__iframe {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.player__play_size_big {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 220px;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
}
.player__play_size_big::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 70px;
  border-top: 60px solid transparent;
  border-left: 91px solid #FFFFFF;
  border-bottom: 60px solid transparent;
}
.player__play_size_big_hidden {
  display: none;
}

.player-wrapper__video_position {
  display: none;
}

.player__control {
  left: 0;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  column-gap: 50px;
  width: 100%;
  padding: 25px 30px;
  background-color: #000000;
}

.player__control-range {
  -webkit-appearance: none;
  height: 8px;
  background: linear-gradient(to right, #710707 45%, #C4C4C4 45%);
}
.player__control-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: ew-resize;
  background: #FFFFFF;
}

.player-button {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.player-button:hover {
  filter: invert(61%) sepia(0%) saturate(2%) hue-rotate(55deg) brightness(101%) contrast(86%);
}

.player__play {
  width: 23px;
  height: 31px;
  background-image: url("../img/icons/player/play.svg");
}

.play-range {
  width: 929px;
}

.play-volume {
  width: 155px;
}

/*.player__video_position {
	position: relative;
	width: 929px;
	height: 8px;
	background-color: $color-player-position;
	&::before {
		content: '';
		position: absolute;
		width: 50%;
		height: 100%;
		background-color: $color-button;
	}
}

.player__position-control {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: $color-light;
	transform: translateY(-50%);
}*/
.player__volume {
  width: 38px;
  height: 31px;
  background-image: url("../img/icons/player/volume.svg");
}

.player__screen_full {
  width: 35px;
  height: 35px;
  background-image: url("../img/icons/player/fullscreen.svg");
}

.ticket__btn-inner {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 50px;
  font-size: 0;
  border: 3px solid #000000;
}

.ticket-item {
  width: 48px;
  height: 100%;
  border: none;
  vertical-align: middle;
}

.ticket-btn {
  font-style: normal;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 3.7rem;
  background-color: #FFFFFF;
}
.ticket-btn:hover {
  background-color: #710707;
}

.ticket-number {
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.6rem;
  text-align: center;
}

.parallax {
  width: 100%;
  height: 712px;
  background-image: url("../img/tickets/parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.social__link {
  width: 48px;
  height: 48px;
  margin: 0 25px 0 0;
  font-size: 0;
  border: 1px solid #666666;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
}
.social__link:hover {
  border-color: #9D8665;
  filter: invert(54%) sepia(10%) saturate(1080%) hue-rotate(356deg) brightness(97%) contrast(94%);
}
.social__link:last-child {
  margin: 0;
}

.social-youtube {
  background-image: url("../../src/img/icons/social/youtube.svg");
}

.social-instagram {
  background-image: url("../../src/img/icons/social/instagram.svg");
}

.social-facebook {
  background-image: url("../../src/img/icons/social/facebook.svg");
}

.social-twitter {
  background-image: url("../../src/img/icons/social/twitter.svg");
}

.social-pinterest {
  background-image: url("../../src/img/icons/social/pinterest.svg");
}

.header {
  display: flex;
  height: 150px;
}
@media (max-width: 1024px) {
  .header {
    height: 130px;
  }
}
@media (max-width: 768px) {
  .header {
    height: 110px;
  }
}
@media (max-width: 420px) {
  .header {
    height: 90px;
  }
}

.header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1920px;
}

.header__navigation {
  max-width: 940px;
}
@media (max-width: 1024px) {
  .header__navigation {
    position: absolute;
    z-index: 2;
    top: 130px;
    max-width: 297px;
    padding: 35px 120px 35px 35px;
    background-color: #030303;
    transform: translateX(-100%);
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .header__navigation {
    top: 110px;
  }
}
@media (max-width: 420px) {
  .header__navigation {
    top: 90px;
  }
}

.header__navigation_open {
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 1024px) {
  .navigation-button {
    margin-left: auto;
  }
}
.welcome {
  padding: 0 0 60px;
}
@media (max-width: 768px) {
  .welcome {
    padding: 0 0 30px;
  }
}
@media (max-width: 420px) {
  .welcome {
    padding: 0 0 24px;
  }
}

.welcome-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 768px) {
  .welcome-wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.welcome__content {
  position: absolute;
  z-index: 1;
  left: 20px;
  width: 595px;
}
@media (max-width: 768px) {
  .welcome__content {
    position: static;
    width: auto;
    text-align: center;
  }
}

.welcome__content_hidden {
  display: none;
}

@media (max-width: 1024px) {
  .welcome__title {
    margin: 0 0 20px;
    line-height: 9rem;
  }
}
@media (max-width: 768px) {
  .welcome__title {
    margin: 0 0 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 4rem;
    line-height: 6rem;
  }
}
@media (max-width: 420px) {
  .welcome__title {
    font-style: normal;
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 4rem;
  }
}

.welcome__span {
  display: block;
}

.welcome__text {
  margin: 0 0 75px;
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 3.3rem;
  letter-spacing: 2px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .welcome__text {
    margin: 0 0 50px;
    font-style: normal;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 768px) {
  .welcome__text {
    margin: 0 0 50px;
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.3rem;
  }
}
@media (max-width: 420px) {
  .welcome__text {
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}

.welcome__button {
  width: 360px;
  height: 75px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .welcome__button {
    width: 300px;
    height: 60px;
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.3rem;
  }
}
@media (max-width: 768px) {
  .welcome__button {
    display: none;
  }
}

@media (max-width: 768px) {
  .navigation__container {
    padding: 0 55px;
  }
}

.navigation__small-display {
  display: none;
}

@media (max-width: 768px) {
  .navigation__small-display_show {
    display: block;
  }
}

.navigation__small-display .navigation__images {
  padding: 333px 0 35px;
}
@media (max-width: 420px) {
  .navigation__small-display .navigation__images {
    padding-bottom: 20px;
  }
}

.navigation__images_tablet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 420px) {
  .navigation__images_tablet {
    display: none;
  }
}

.navigation__image {
  max-width: calc(50% - 10px);
  height: auto;
}

.navigation__image_big {
  max-width: 100%;
  height: auto;
}

.navigation__images_mobile {
  display: none;
}
@media (max-width: 420px) {
  .navigation__images_mobile {
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
  }
}

.navigation__line {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.navigation__social {
  justify-content: center;
  flex-wrap: nowrap;
  padding: 35px 0 0;
}
@media (max-width: 420px) {
  .navigation__social {
    padding: 24px 0 0;
  }
}

@media (max-width: 420px) {
  .navigation-social__link {
    margin: 0 5px 0 0;
  }
}

.visiting {
  padding-bottom: 0;
}
@media (max-width: 768px) {
  .visiting {
    padding-bottom: 40px;
  }
}
@media (max-width: 420px) {
  .visiting {
    padding-bottom: 0;
  }
}

.visiting-wrapper .layout-3-column {
  column-gap: 20px;
}
.visiting-wrapper .layout-3-column > * {
  flex-basis: auto;
}
@media (max-width: 1024px) {
  .visiting-wrapper .layout-3-column {
    justify-content: space-evenly;
  }
}

.tour__body {
  margin: 0;
}

.tour__iframe {
  width: 100%;
  height: 100vh;
}

.explore-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .explore-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.explore__text {
  margin-bottom: 25px;
  color: #FFFFFF;
}
.explore__text span {
  color: #9D8665;
}
@media (max-width: 1024px) {
  .explore__text {
    margin-bottom: 0;
  }
}
.explore__text:last-child {
  display: none;
}
@media (max-width: 768px) {
  .explore__text {
    display: none;
  }
}

.explore__content {
  flex-basis: 660px;
}
@media (max-width: 1024px) {
  .explore__content {
    margin-bottom: 62px;
    flex-basis: auto;
  }
}
@media (max-width: 768px) {
  .explore__content {
    width: 100%;
    margin-bottom: 0;
  }
}

.explore__slider {
  max-width: 720px;
}

.video__content {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.video__text {
  max-width: 720px;
  margin: 0;
  margin-left: 20px;
}

.gallery {
  padding: 75px 0 0;
}

.gallery-wrapper {
  position: relative;
  height: 1960px;
  overflow-y: hidden;
}
.gallery-wrapper:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.gallery__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 3000px;
  gap: 24px 36px;
}

/*.gallery__inner1 {
	display: grid;
	//grid-template-columns: 456px 456px 456px;
	grid-template-columns: 33.33% 33.33% 33.33%;
	height: 3000px;
	gap: 24px 36px;
}

.gallery__inner-image1 {
	max-width: 31.6666667%;
	//height: min-content;
	&:nth-child(10n+1) {
		margin-top: 50px;
	}
}*/
.gallery__image {
  max-width: calc(33.3% - 23.5px);
}
.gallery__image:nth-child(10n+1) {
  margin-top: 50px;
}

.tickets {
  margin: 75px 0 0;
}

.tickets__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
}

.tickets__image-wrapper {
  flex-basis: 720px;
  margin-right: 60px;
}

.tickets-image {
  width: 100%;
  vertical-align: middle;
}

.tickets__form {
  display: flex;
  justify-content: space-between;
  flex-basis: 660px;
}

.form__title {
  margin: 0 0 50px;
}

.form__radio-label {
  position: relative;
  display: block;
  padding-left: 40px;
  margin-bottom: 25px;
}

.form__radio_style_black {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
  border-radius: 50%;
  transform: translateY(-50%);
}
.form__radio_style_black::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  background-color: #000000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.form__radio {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.form__radio:checked + .form__radio_style_black::after {
  opacity: 1;
}

.form__ticket-amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.amount__inner {
  margin: 0 0 10px;
}
.amount__inner:last-of-type {
  margin: 0 0 50px;
}

.amount__title {
  margin: 0 0 15px;
}

.tickets__total {
  margin: 0 0 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.3rem;
}

.tickets__button {
  width: 175px;
  height: 50px;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__content {
  max-width: 285px;
}

.contacts__title-content {
  margin: 0 0 50px;
  font-weight: 500;
}

.contacts__title-name {
  display: block;
}

.contacts__text {
  margin: 0 0 25px;
}

.contacts__link {
  color: #000000;
}
.contacts__link:hover {
  text-decoration: underline;
}

.contacts__map {
  flex-basis: 960px;
  height: 620px;
  background-color: gray;
}

.footer {
  padding: 85px 0 50px;
}

.footer-link {
  flex-basis: 1100px;
}

.footer-inner-list {
  flex-basis: 363px;
  height: 130px;
}

.navigation-footer {
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 100;
  letter-spacing: 2px;
}
.navigation-footer > * {
  margin: 0 0 25px;
}
.navigation-footer > *:nth-child(3n) {
  margin: 0;
}

.footer-social {
  align-items: flex-end;
}

.line {
  height: 3px;
  margin: 50px 0;
  background-color: #666666;
}

.text__under-line {
  margin: 0;
}

.booking {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 91px 0;
  margin: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #030303;
  background-color: rgba(0, 0, 0, 0.9);
}

.booking-active {
  visibility: visible;
  opacity: 1;
}

.booking-form {
  justify-content: center;
  transform: translateX(-100%);
}

.booking-form-active {
  transform: translateX(0%);
}

.form__inner {
  background-color: #FFFFFF;
  box-shadow: 0 0 0 15px #FFFFFF;
}

.form__left {
  flex-basis: 400px;
  padding-right: 40px;
}

.form__right {
  position: relative;
  flex-basis: 530px;
  padding: 25px 30px 26px;
  border: 1px solid #030303;
}

.form__close {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "";
  right: -30px;
  top: -31px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  color: inherit;
  background-color: #BCBCBC;
  border: none;
}
.form__close:hover {
  font-weight: 500;
  border: 1px solid #030303;
}

.booking__logo {
  width: 85px;
  height: 41px;
  background-image: url("../img/icons/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(61%) sepia(8%) saturate(1462%) hue-rotate(356deg) brightness(165%) contrast(86%);
}

.booking__title {
  margin: 0 0 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 5rem;
  line-height: 5.5rem;
  text-transform: uppercase;
}

.booking__subtitle {
  padding: 0 0 10px;
  margin: 0 0 60px;
}

.booking-input {
  width: 400px;
  height: 45px;
  margin: 0 0 20px;
  padding: 13px 45px;
  border: 1px solid #030303;
}

.booking__date-inner .date {
  width: 190px;
}

.time {
  width: 190px;
}

.form__left-inner {
  padding: 10px 15px 15px;
  border: 1px solid #030303;
}

.form__left-subtitle {
  padding: 0 0 5px;
  margin: 0 0 15px;
  line-height: 2rem;
  text-transform: capitalize;
  border-bottom-width: 2px;
}

.booking__amount-inner {
  align-items: center;
  margin: 0 0 15px;
}
.booking__amount-inner:last-child {
  margin: 0;
}

.booking__amount-title {
  margin: 0;
}

.booking__amount-inner .ticket__btn-inner {
  width: 105px;
  height: 25px;
  border-width: 1px;
}
.booking__amount-inner .ticket-btn {
  color: #FFFFFF;
  background-color: #000000;
}
.booking__amount-inner .ticket-btn:hover {
  background-color: #710707;
}
.booking__amount-inner .ticket-item {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.1rem;
}

.form__right-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 0 22px;
}

.form__right-title {
  margin: 0 0 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 3.7rem;
}

.form__right-subtitle {
  margin: 0 0 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: #710707;
  opacity: 0.9;
}

.form__overview-text {
  margin: 5px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.text-data {
  background-image: url("../img/booking_tickets/date.svg");
}

.text-time {
  background-image: url("../img/booking_tickets/Time.svg");
}

.text-type {
  background-image: url("../img/booking_tickets/type.svg");
}

.form__image {
  width: 150px;
  height: 120px;
  background-image: url("../img/booking_tickets/1.jpg");
  background-repeat: no-repeat;
}

.price__text {
  display: inline-flex;
  width: 100%;
  margin: 0 0 5px;
}
.price__text.title__border_true {
  padding: 0 0 9px;
  margin: 0 0 10px;
  border-bottom-width: 2px;
}

.number__text {
  display: inline-block;
  width: 32px;
  height: 20px;
  margin-right: 10px;
  color: #A4A4A3;
  text-align: center;
  background-color: #030303;
  border-radius: 15%;
}

.ticket__price,
.total__text {
  margin-right: auto;
}

.ticket__price,
.number__price {
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.number__price {
  text-align: end;
}

.form__right-total {
  margin: 0 0 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 3.7rem;
}

.card-inner {
  width: 360px;
  height: 211px;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.4rem;
  border-radius: 0.5em;
}

.card__frond {
  position: relative;
  z-index: 1;
  padding: 15px 20px;
  background-color: #BCBCBC;
}

.card-wrapper {
  position: relative;
  color: #161615;
}

.card__frond-input {
  flex-basis: 215px;
}

.card__label {
  display: block;
  margin: 0 0 5px;
}

.card__date-wrapper {
  flex-wrap: nowrap;
}

.card__date {
  width: 100px;
}

.card__input {
  height: 35px;
  margin: 0 0 10px;
}

.card-number,
.card__name {
  width: 100%;
}

.card__frond-logo {
  width: 55px;
  padding: 19px 0 0;
}

.card__image {
  margin: 0 0 15px;
}

.card__back {
  position: absolute;
  top: 35px;
  right: 0;
  padding: 25px 0 15px;
  background-color: #939393;
}

.card__strip {
  width: 100%;
  height: 45px;
  margin: 0 0 15px;
  background-color: #161615;
}

.card__cvc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75px;
  margin-left: auto;
  padding: 0 20px 0 0;
}

.card__cvc {
  width: 75px;
  margin: 0 0 6px;
}

.card__back-text {
  width: 55px;
  margin: 0;
}

.button__card {
  position: relative;
  display: block;
  width: 220px;
  height: 45px;
  margin: 56px 0 0 auto;
  border: none;
  overflow: hidden;
}

.circle__button {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: circle 0.4s;
}

@keyframes circle {
  to {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
