body {
  font-family: "Roboto", Verdana, sans-serif;
}

.virtual-tour__title, .logo, .title {
  font-family: "Forum", Verdana, sans-serif;
}

.player-button, .player__play_size_big::after, .player__play_size_big, .virtual-tour__title::after, .video__slider-position, .slider__button-item, .image__slider-position, .button, .navigation__link {
  transition: all 0.3s ease-out;
}

html {
  font-size: 10px;
}

body {
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: #000000;
}

.container {
  max-width: 1920px;
  padding: 0 20px;
}

.section {
  padding: 75px 0;
}

.wrapper_theme_dark {
  background-color: #030303;
}

.wrapper_theme_light {
  background-color: #FFFFFF;
}

.title {
  margin: 0 0 75px;
  font-style: normal;
  font-weight: 400;
  font-size: 8rem;
  line-height: 9rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  white-space: nowrap;
}

.title_theme_on-dark {
  color: #FFFFFF;
}

.title_theme_on-light {
  color: #9D8665;
}

.title__border_true {
  padding-bottom: 25px;
  border-bottom: 3px solid #710707;
}

.text {
  line-height: 3.8rem;
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  padding: 0;
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*&:after {
  	content: '';
  	display: block;
  	width: 29%;
  }*/
}
.layout-3-column > * {
  flex-basis: 29%;
}

.logo {
  display: flex;
  width: 200px;
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.1rem;
  color: #FFFFFF;
  letter-spacing: 5px;
}

.logo__image {
  display: inline-block;
  width: 49px;
  height: 26px;
  margin-right: 25px;
  background-image: url("../img/icons/logo.svg");
  background-repeat: no-repeat;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 55px;
  flex-wrap: wrap;
}

.navigation__link {
  letter-spacing: 2px;
  color: #FFFFFF;
}
.navigation__link:hover {
  color: #9D8665;
}

.button {
  border: none;
  color: #FFFFFF;
}
.button:hover {
  background-color: #9D8665;
}

.button-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button_type_basic {
  background-color: #710707;
}

.button_type_dark {
  background-color: #000000;
}

.slider__image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.slider__image-inner {
  position: relative;
  max-width: 1000px;
}
.slider__image-inner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.slider__image-item {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.slider__control {
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -60px;
  width: 600px;
  height: 120px;
  padding: 0 74px;
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 4rem;
  color: #FFFFFF;
  background-color: #030303;
}

.number__slider_wrap {
  max-width: 76px;
}

.number__slider_active {
  margin-right: 10px;
}

.number__sliders_total {
  margin-left: 10px;
}

.slider__map {
  display: inline-flex;
}

.image__slider-position {
  width: 16px;
  height: 16px;
  margin-right: 25px;
  background-color: #FFFFFF;
  border: none;
}
.image__slider-position:last-child {
  margin-right: 0;
}
.image__slider-position_active {
  background-color: #D2B183;
}
.image__slider-position:hover {
  background-color: #9D8665;
}

.slider__buttons {
  display: inline-flex;
  justify-content: center;
}

.image__slider-direction {
  width: 30px;
  height: 8px;
}

.slider__button-item {
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.slider__button_left {
  margin-right: 20px;
  background-image: url("../img/icons/left.svg");
}
.slider__button_left:hover {
  background-image: url("../img/icons/left_hover.svg");
}

.slider__button_right {
  background-image: url("../img/icons/right.svg");
}
.slider__button_right:hover {
  background-image: url("../img/icons/right_hover.svg");
}

.slider-comparison {
  position: relative;
}

.slider-comparison__control {
  position: absolute;
  top: 0;
  left: 60%;
  width: 39px;
  height: 100%;
  background-image: url("../img/icons/explore_slider.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.player_size_small {
  max-width: 452px;
}

.video__slider-column {
  margin-bottom: 40px;
}

.video__slider-control {
  width: 100%;
  column-gap: 20px;
}

.video__slider-direction {
  width: 10px;
  height: 12px;
}
.video__slider-direction:hover {
  filter: invert(14%) sepia(66%) saturate(2636%) hue-rotate(341deg) brightness(50%) contrast(115%);
}

.slider_left {
  background-image: url("../img/icons/player/left_video.svg");
}

.slider_right {
  background-image: url("../img/icons/player/right_video.svg");
}

.video__slider-position {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: #999999;
}
.video__slider-position_active {
  background-color: #333333;
}
.video__slider-position:hover {
  background-color: #710707;
}

.virtual-tour__link {
  display: flex;
  flex-direction: column;
  color: #000000;
  margin: 0 0 75px;
}
.virtual-tour__link:hover .virtual-tour__title::after {
  width: 0;
}

.virtual-tour__image {
  order: -1;
}

.virtual-tour__title {
  position: relative;
  padding: 25px 0 10px;
  margin: 0 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.virtual-tour__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: #710707;
}

.virtual-tour__overview {
  margin: 0 0 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.virtual-tour__street {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.1rem;
}

.player-wrapper {
  position: relative;
  margin-bottom: 40px;
}

.player-inner {
  position: relative;
  width: 100%;
  padding-top: 45.14%;
  overflow: hidden;
  cursor: pointer;
}
.player-inner:hover .player__play_size_big {
  border-color: #989898;
}
.player-inner:hover .player__play_size_big::after {
  border-left-color: #989898;
}

.player-link {
  position: absolute;
  top: 0;
  height: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../video/poster0.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.player-link_hidden {
  display: none;
}

.player-poster {
  width: 100%;
  vertical-align: middle;
}

.player__iframe {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.player__play_size_big {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 220px;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
}
.player__play_size_big::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 70px;
  border-top: 60px solid transparent;
  border-left: 91px solid #FFFFFF;
  border-bottom: 60px solid transparent;
}
.player__play_size_big_hidden {
  display: none;
}

.player-wrapper__video_position {
  display: none;
}

.player__control {
  left: 0;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  column-gap: 50px;
  width: 100%;
  padding: 25px 30px;
  background-color: #000000;
}

.player__control-range {
  -webkit-appearance: none;
  height: 8px;
  background: linear-gradient(to right, #710707 45%, #C4C4C4 45%);
}
.player__control-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: ew-resize;
  background: #FFFFFF;
}

.player-button {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.player-button:hover {
  filter: invert(61%) sepia(0%) saturate(2%) hue-rotate(55deg) brightness(101%) contrast(86%);
}

.player__play {
  width: 23px;
  height: 31px;
  background-image: url("../img/icons/player/play.svg");
}

.play-range {
  width: 929px;
}

.play-volume {
  width: 155px;
}

/*.player__video_position {
	position: relative;
	width: 929px;
	height: 8px;
	background-color: $color-player-position;
	&::before {
		content: '';
		position: absolute;
		width: 50%;
		height: 100%;
		background-color: $color-button;
	}
}

.player__position-control {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: $color-light;
	transform: translateY(-50%);
}*/
.player__volume {
  width: 38px;
  height: 31px;
  background-image: url("../img/icons/player/volume.svg");
}

.player__screen_full {
  width: 35px;
  height: 35px;
  background-image: url("../img/icons/player/fullscreen.svg");
}

.header {
  padding: 59px 0 65px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  max-width: 940px;
}

.welcome {
  padding-bottom: 60px;
}

.welcome-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.welcome__content {
  position: absolute;
  z-index: 1;
  left: 20px;
  width: 595px;
}

.welcome__span {
  display: block;
}

.welcome__text {
  margin: 0 0 75px;
  font-style: normal;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 3.3rem;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.welcome__button {
  width: 360px;
  height: 75px;
  border-radius: 10px;
}

.explore-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.explore__text {
  color: #FFFFFF;
}
.explore__text span {
  color: #9D8665;
}

.explore__content {
  flex-basis: 660px;
}

.explore__slider {
  max-width: 720px;
}

.video__content {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.video__text {
  max-width: 720px;
  margin: 0;
  margin-left: 20px;
}

.gallery {
  padding: 75px 0 0;
}

.gallery-wrapper {
  position: relative;
  height: 1960px;
  overflow-y: hidden;
}
.gallery-wrapper:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.gallery__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 3000px;
  gap: 24px 36px;
}

.gallery__inner1 {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  height: 3000px;
  gap: 24px 36px;
}

.gallery__inner-image1 {
  max-width: 31.6666667%;
}
.gallery__inner-image1:nth-child(10n+1) {
  margin-top: 50px;
}

/*.gallery__image {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}*/
.gallery__image {
  max-width: 456px;
}
.gallery__image:nth-child(10n+1) {
  margin-top: 50px;
}

.tour__body {
  margin: 0;
}

.tour__iframe {
  width: 100%;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
