$color-background-dark: #030303;
$color-light: #FFFFFF;
$color-title: #9D8665;
$color-dark: #000000;
$color-button: #710707;
$color-active: #7E6C51;
$color-slider: #D2B183;

$content-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 420px;

$margin: 25px;
$margin-big: 75px;