.slider__image {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	@include media-tablet {
		align-items: center;
	}
}

.slider__image-inner {
	position: relative;
	max-width: calc(100vw - 480px);
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
		@include media-tablet {
			background-image: none;
		}
	}
	@include media-laptop {
	max-width: calc(100vw - 324px);
	}
	@include media-tablet {
		max-width: 100%;
		margin: 0 0 30px;
	}
}

.slider__image-item {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	@include media-tablet {
		
	}
}

.slider__control {
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	position: absolute;
	bottom: -60px;
	width: 600px;
	height: 120px;
	padding: 0 74px;
	@include font($size: 2.2rem, $height: 4rem, $weight: 400);
	color: $color-light;
	background-color: $color-background-dark;
	@include media-laptop {
		justify-content: flex-end;
		width: 100%;
		font-size: 2rem;
	}
	@include media-tablet {
		position: static;
		justify-content: space-between;
		max-width: 401px;
		height: auto;
		padding: 0;
	}
}

.number__slider_wrap {
	max-width: 76px;
}

.number__slider_active {
	margin-right: 10px;
}

.number__sliders_total {
	margin-left: 10px;
}

.slider__map {
	display: inline-flex;
	justify-content: center;
}

.image__slider-position {
	width: 16px;
	height: 16px;
	margin-right: 25px;
	background-color: $color-light;
	border: none;
	@extend %transition;
	&:last-child {
		margin-right: 0;
	}
	&_active {
		background-color: $color-slider;
	}
	&:hover {
		background-color: $color-title;
	}
	@include media-laptop {
		width: 12px;
		height: 12px;
	}
}

.slider__buttons {
	display: inline-flex;
	justify-content: flex-end;
	max-width: 80px;
}

.image__slider-direction {
	width: 30px;
	height: 8px;
}

.slider__button-item {
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	@extend %transition;
}

.slider__button_left {
	margin-right: 20px;
	background-image: url('../img/icons/left.svg');
	&:hover {
		background-image: url('../img/icons/left_hover.svg');
	}
}

.slider__button_right {
	background-image: url('../img/icons/right.svg');
	&:hover {
		background-image: url('../img/icons/right_hover.svg');
	}
}

.slider-comparison {
	position: relative;
}

.slider-comparison__control {
	position: absolute;
	top: 0;
	left: 60%;
	width: 39px;
	height: 100%;
	background-image: url('../img/icons/explore_slider.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.player_size_small {
	max-width: 452px;
}

.video__slider-column {
	margin-bottom: 40px;
}

.video__slider-control {
	width: 100%;
	column-gap: 20px;
}

.video__slider-direction {
	width: 10px;
	height: 12px;
	&:hover {
		filter: invert(14%) sepia(66%) saturate(2636%) hue-rotate(341deg) brightness(50%) contrast(115%);
	}
}

.slider_left {
	background-image: url('../img/icons/player/left_video.svg');
}

.slider_right {
	background-image: url('../img/icons/player/right_video.svg');
}

.video__slider-position {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: none;
	background-color: $color-slider-position;
	@extend %transition;
	&_active {
		background-color: $color-slider-position-active;
	}
	&:hover {
		background-color: $color-button;
	}
}