.booking {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	//max-width: 970px;
	padding: 91px 0;
	margin: auto;
	@include font($size: 1.8rem, $height: 2.1rem);
	color: $color-background-dark;
	background-color: rgba(0,0,0,0.9);
	@extend %transition;
}

.booking-active {
	visibility: visible;
	opacity: 1;
}

.booking-form {
	justify-content: center;
	transform: translateX(-100%);
	@extend %transition;
}

.booking-form-active {
	transform: translateX(0%);
}

.form__inner {
	background-color: $color-light;
	box-shadow: 0 0 0 15px $color-light;
}

.form__left {
	flex-basis: 400px;
	padding-right: 40px;
}

.form__right {
	position: relative;
	flex-basis: 530px;
	padding: 25px 30px 26px;
	border: 1px solid $color-background-dark;
}

.form__close {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	content: '';
	right: -30px;
	top: -31px;
	width: 30px;
	height: 30px;
	text-decoration: none;
	color: inherit;
	background-color: $color-card-1;
	border: none;
	@extend %transition;
	&:hover {
		font-weight: 500;
		border: 1px solid $color-background-dark;
	}
}

.booking__logo {
	width: 85px;
	height: 41px;
	background-image: url('../img/icons/logo.svg');
	background-repeat: no-repeat;
	background-size: contain;
	filter: invert(61%) sepia(8%) saturate(1462%) hue-rotate(356deg) brightness(165%) contrast(86%);
}

.booking__title {
	margin: 0 0 15px;
	@include font($size: 5rem, $height: 5.5rem);
	@extend %font-add;
	text-transform: uppercase;
}

.booking__subtitle {
	padding: 0 0 10px;
	margin: 0 0 60px;
}

.booking-input {
	width: 400px;
	height: 45px;
	margin: 0 0 20px;
	padding: 13px 45px;
	border: 1px solid $color-background-dark;
}

.booking__date-inner

.date {
	width: 190px;
}

.time {
	width: 190px;
}

.form__left-inner {
	padding: 10px 15px 15px;
	border: 1px solid $color-background-dark;
}

.form__left-subtitle {
	padding: 0 0 5px;
	margin: 0 0 15px;
	line-height: 2rem;
	@extend %font-add;
	text-transform: capitalize;
	border-bottom-width: 2px;
}

.booking__amount-inner {
	align-items: center;
	margin: 0 0 15px;
	&:last-child {
		margin: 0;
	}
}

.booking__amount-title {
	margin: 0;
}

.booking__amount-inner {
	.ticket__btn-inner {
		width: 105px;
		height: 25px;
		border-width: 1px;
	}
	.ticket-btn {
		color: $color-light;
		background-color: $color-dark;
		&:hover {
			background-color: $color-button;
		}
	}
	.ticket-item {
		@include font($size: 1.8rem, $height: 2.1rem);
	}
}

.form__right-inner {
	display: flex;
	justify-content: space-between;
	margin: 0 0 22px;
}

.form__right-title {
	margin: 0 0 2px;
	@include font($size: 3.2rem, $height: 3.7rem, $weight: 500);
}

.form__right-subtitle {
	margin: 0 0 10px;
	@include font($size: 2.2rem, $height: 2.6rem, $weight: 500);
	color: $color-button;
	opacity: 0.9;
}

.form__overview-text {
	margin: 5px;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

.text-data {
	background-image: url('../img/booking_tickets/date.svg');
}

.text-time {
	background-image: url('../img/booking_tickets/Time.svg');
}

.text-type {
	background-image: url('../img/booking_tickets/type.svg');
}

.form__image {
	width: 150px;
	height: 120px;
	background-image: url('../img/booking_tickets/1.jpg');
	background-repeat: no-repeat;
}

.price__text {
	display: inline-flex;
	width: 100%;
	margin: 0 0 5px;
	&.title__border_true {
		padding: 0 0 9px;
		margin: 0 0 10px;
		border-bottom-width: 2px;
	}
}

.number__text {
	display: inline-block;
	width: 32px;
	height: 20px;
	margin-right: 10px;
	color: $color-number;
	text-align: center;
	background-color: $color-background-dark;
	border-radius: 15%;
}

.ticket__price,
.total__text {
margin-right: auto;
}

.ticket__price,
.number__price {
	@include font($size: 2.2rem, $height: 2.6rem);
}

.number__price {
	text-align: end;
}

.form__right-total {
	margin: 0 0 10px;
	@include font($size: 3.2rem, $height: 3.7rem, $weight: 500);
}

.card-inner {
	width: 360px;
	height: 211px;
	@include font($size: 1.2rem, $height: 1.4rem);
	border-radius: 0.5em;
}

.card__frond {
	position: relative;
	z-index: 1;
	padding: 15px 20px;
	background-color: $color-card-1;
}

.card-wrapper {
	position: relative;
	color: $color-card-text;
}

.card__frond-input {
	flex-basis: 215px;
}

.card__label {
	display: block;
	margin: 0 0 5px;
}

.card__date-wrapper {
	flex-wrap: nowrap;
}

.card__date {
	width: 100px;
}

.card__input {
	height: 35px;
	margin: 0 0 10px;
}

.card-number,
.card__name {
	width: 100%;
}

.card__frond-logo {
	width: 55px;
	padding: 19px 0 0;
}

.card__image {
	margin: 0 0 15px;
}

.card__back {
	position: absolute;
	top: 35px;
	right: 0;
	padding: 25px 0 15px;
	background-color: $color-card-2;
}

.card__strip {
	width: 100%;
	height: 45px;
	margin: 0 0 15px;
	background-color: $color-card-text;
}

.card__cvc-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75px;
	margin-left: auto;
	padding: 0 20px 0 0;
}

.card__cvc {
	width: 75px;
	margin: 0 0 6px;
}

.card__back-text {
	width: 55px;
	margin: 0;
}

.button__card {
	position: relative;
	display: block;
	width: 220px;
	height: 45px;
	margin: 56px 0 0 auto;
	border: none;
	overflow: hidden;
}

.circle__button {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: $color-light;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0);
	animation: circle 0.4s;
}

@keyframes circle {
	to {
		transform: translate(-50%, -50%) scale(2);
		opacity: 0;
	}
}