.explore-wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.explore__text {
	color: $color-light;
	span {
		color: $color-title;
	}
}

.explore__content {
	flex-basis: 660px;
}

.explore__slider {
	max-width: 720px;
}