.explore-wrapper {
	display: flex;
	justify-content: space-between;

	@include media-laptop {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
}

.explore__text {
	margin-bottom: 25px;
	color: $color-light;

	span {
		color: $color-title;
	}

	@include media-laptop {
		margin-bottom: 0;
	}

	&:last-child {
		display: none;
	}

	@include media-tablet {
		display: none;
	}
}

.explore__content {
	flex-basis: 660px;

	@include media-laptop {
		margin-bottom: 62px;
		flex-basis: auto;
	}

	@include media-tablet {
		width: 100%;
		margin-bottom: 0;
	}
}

.explore__slider {
	max-width: 720px;
}